extends layout

block content
  h1= title

  .chart_container
    h2 Code style
    div.entypo-lamp.hint
      span This value should be as <strong>low</strong> as possible
    #code_style

  .chart_container
    h2 Code smells
    div.entypo-lamp.hint
      span This value should be as <strong>low</strong> as possible
    #code_smells

  .chart_container
    h2 Coverage (%)
    div.entypo-lamp.hint
      span This value should be as <strong>high</strong> as possible
    #coverage

  .chart_container
    h2 Code:Test ratio
    div.entypo-lamp.hint
      span This value should be <strong>close to 1.0</strong>
    #code_test_ratio
  script(type="text/javascript").
    var config = !{config};
    
  script(type="text/javascript", src="javascripts/app.js")